/* Write your CSS here! */
body {background-color: rgba(0, 255, 255, 0.33);
}
h1{
    font-size: 36px;
    
}
h2{
    font-size: 18px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 18px;
}
h5{
    font-size:18px;
}
h6{
    font-size: 18px;
}
.image-class {
    width: 800px;
    height: 400px;
}
p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
  }
  body {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .funParagraph {
    color: green;
}
